.navbar{
    &__container{
        &__icon{
            color:$icons;
            margin: 0 20px;
        }
        &__options{
            #cartIconContainer{
                position: absolute;
                padding:12px;
                bottom: 55%;
                left: 45%;
            }
            #cartIcon{
                position: absolute;
                padding:2px;
                letter-spacing: 0;
                bottom: 45%;
                left: 55%;
            }
            &__icons{
                color:$icons;
                margin: 0 10px;
            }
        }
    }
}