.button{
    background-color: $style;
    font-family: Inter, sans-serif;
    color: $text-primary;
    font-size: 24px;
    border-radius: 10px;
    border-color: none;
    width: 267px;
    height: 82px;
    flex-shrink: 0;
}