.contactContainer{
    font-family: Inter,sans-serif;
    &__title{
        animation: reveal-title 500ms;
        animation-delay: 500ms; 
        animation-fill-mode: both;
    }
    &__box{
        animation: reveal-box 800ms;
        animation-delay: 1000ms; 
        animation-fill-mode: both;
    }

}
.contact{
    background-image: url("../../assets/img/bg/bg.jpg");    
}


@keyframes reveal-title{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes reveal-box{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }100%{
        transform: translateY(0px);
        opacity: 1;
    }
}