

.heroSection{
    &__container{
        &__carousel{
            height: 90vh;
            &__item{
                position: relative;
                &__img{
                    filter: brightness(80%);
                    object-fit: cover;
                }
                &__info{
                    display: block;
                    position: absolute;
                    top:15%;
                    margin: 100px;
                    width: 40%;
                    h3{
                        font-family: Inter;
                        
                        font-style: normal;
                        font-weight: 600;
                        color:$text-primary;
                        line-height: normal
                    }
                    h2{ 
                        font-family: Inter , sans-serif;
                        font-weight: 700;
                       
                        color:$text-primary;
                        text-align: start;
                    }
                    p{
                        font-family: Inter , sans-serif;
                        font-weight: 400;
                        color:$subheading;
                        text-align: start;
                    }
                }
            }
        }
    }
}






.featuredProducts{
    &__title{
        text-align: center;
        color: $text-secondary,sans-serif;
        text-align: center;
        font-family: Inter;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    &__subTitle{
        text-align: center;
        color: $text-secondary;
        text-align: center;
        font-family: Inter,sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}





.categoriesSection{
    &__container{
        &__item{
            position: relative;
            img{
                object-fit: cover;
                filter: brightness(90%);
            }
            &__info{
                text-align: start;
                position: absolute;
                top: 150px;
                right: 50px;
                &__button{
                    background-color: $style;
                    font-family: Inter, sans-serif;
                    color: $text-primary;
                    font-size: 24px;
                    border-radius: 10px;
                    border-color: none;
                    width: 150px;
                    border: none;
                    height: 70px;
                    font-weight: 600;
                }
                &__h2{
                    color: $text-primary;
                    font-family: Inter;
                    font-size: 48px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                }
                &__h3{
                    color: $text-primary;
                    font-family: Inter;
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: normal;
                }
            }
        }
    }
}



.infoSection{
    &__container{
        &__item{
            font-family: Inter, sans-serif;
            &__icon{
                font-size: 40px;
                color:$style;
            }
            &__title{
                font-size: 24px;
                font-style: normal;
                line-height: normal;
            }
            &__subTitle{
                font-size: 20px;
                font-style: normal;
                font-weight: 200;
                line-height: normal;
            }
        }
    }
}


.clientReviewSection{
    position: relative;
    &__container{
        &__text{
                color: $text-primary;
               &__title{
                color: $text-primary;
                font-family: Inter;
                font-size: 36px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
               }
               &__subTitle{
                color: $subheading;
                font-family: Inter;
                font-size: 32px;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
               }
        }
        &__screenshots{
            &__button{
                position: absolute;
                right: 0;
                top:50%;
                &__icon{
                    color:$icons;
                }
            }
        }
    }
}



.blogSection{
    &__textContainer{
        &__title{
            color: $text-secondary,sans-serif;
            font-family: Inter;
            font-size: 40px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
        &__subTitle{
            color: $text-secondary;
            font-family: Inter,sans-serif;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
    &__container{
        &__item{
            img{
                height: 300px;
            }
        }
    }
}