html{
    scroll-behavior: smooth;
}
//hero section layout
.heroSection{ 
    font-family: Inter,sans-serif;
    &__container{
        &__carousel{
            height: 88vh;
            &__item{
                position: relative;
                &__img{
                    filter: brightness(75%);
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
                &__info{
                    display: inline-block;
                    position: absolute;
                    top:28%;
                    left: 11%;
                    width: 70%;
                    text-align: start;
                    &__text{
                        animation: display-text 800ms;
                        animation-delay: 600ms; 
                        transform-origin: top;
                        animation-fill-mode: both;
                    }
                    &__h3{
                        color:$text-primary;
                        
                    }
                    &__h2{ 
                       
                        color:$text-primary;
                    }
                    &__p{
                      
                        color:$subheading;
                    }
                    &__btn{
                        animation: display-btn 600ms;
                        animation-delay: 600ms; 
                        transform-origin: bottom;
                        animation-fill-mode: both;
                    }

                }
            }
        }
    }
}
//hero section animations

@keyframes display-text {
    0%{
        transform: translateY(-200px);
        opacity: 0;
    }100%{
        transform:tanslateY(0);
        opacity: 1;
    }
}

@keyframes display-btn {
    0%{
        transform: translateY(200px);
        opacity: 0;
    }100%{
        transform:tanslateY(0);
        opacity: 1;
    }
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 600ms ease;
}
.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}







.featuredProducts{
    font-family: Inter,sans-serif;

}

.ProductsImageContainers{
    position: relative;
    .ProductsImagesBtns {
        opacity: 0;
        position: absolute;
        top: 80%;
        left: 25%;
        transform: translateY(50px);
        transition: all 500ms;
        background-color: $style;
        &:hover{
            background-color: $text-secondary;
        }
    }

    &:hover .ProductsImagesBtns {
        transform: translateY(0px);
        opacity: 1;
    }
    .ProductsImages {
        transform: scale(1);
        transition: all 500ms;
        
        &:hover {
            transform: scale(1.05);
            filter: blur(3px);
        }
    }
}

    


.terms-conditions{
    font-family: Inter,sans-serif;
}








.categoriesSection{
    &__container{
        &__item{
            position: relative;
            img{
                object-fit: cover;
                height: auto;
                filter: brightness(100%);
            }
            &__info{
                text-align: start;
                position: absolute;
                top: 15%;
                right: 15%;
                font-family: Inter, sans-serif;
            }
        }
    }
}



.infoSection{
    &__container{
        &__item{
            font-family: Inter, sans-serif;
        }
    }
}


.clientReviewSection{
    &__container{
        &__text{
                color: $text-primary;
                font-family: Inter, sans-serif;
                &__subTitle{
                    color: $subheading;
                }
        }
        &__screenshots{
            position: relative;
            &__arrowRight{
                position: absolute;
                right: 0;
                top:50%;
                &__icon{
                    color:$icons;
                }
            }
            &__arrowLeft{
                position: absolute;
                left: 0;
                top:50%;
                &__icon{
                    color:$icons;
                }
            }
        }
    }
}



.blogSection{
    &__textContainer{
        font-family: Inter,sans-serif;
    }
    &__container{
        &__item{
            img{
                height: 300px;
            }
        }
    }
}