.shop{
    font-family: Inter ,sans-serif;
    &__container{
        &__filterBar{
            ul{
                li{
                    color:$options;
                }
            }
        }
        &__products{
            &__results{
                &__number{
                    color: $options;
                }
            }
            &__list{
                &__item{
                &__img{
                    height: 450px;
                }
            }
            }
        }
    }
}
