@media screen and (max-width:1000px) {
    .shop{
        &__container{
            &__sort{
                &__select{
                    width: 100%;
                    &__options{
                        width: 100%;
                        
                    }
                }
            }
        }
    }
    #select{
        width: 100%;
    }
}